<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.tugasservice_2018084">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name="com.project.tugasservice_2018084.activities.DetailLocationActivity" />
        <activity android:name="com.project.tugasservice_2018084.activities.DrugStoreActivity" />
        <activity android:name="com.project.tugasservice_2018084.activities.DoctorActivity" />
        <activity android:name="com.project.tugasservice_2018084.activities.HospitalActivity" />
        <activity android:name="com.project.tugasservice_2018084.activities.ClinicActivity" />
        <activity android:name="com.project.tugasservice_2018084.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR API KEY" />
    </application>

</manifest>